{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque debitis quasi incidunt culpa temporibus aspernatur itaque, dolore asperiores. Nobis eos quis incidunt blanditiis nam autem reiciendis praesentium, placeat dignissimos possimus exercitationem cumque magnam, adipisci quo assumenda. Adipisci delectus distinctio est mollitia voluptates enim sapiente sed ipsa hic reiciendis accusamus quam, inventore amet atque, nulla error tenetur vero quisquam! Commodi excepturi totam reprehenderit quasi, hic odio, consequatur cumque magnam tempora quisquam quae soluta. Nam voluptatem dolorum totam a id corporis, ducimus velit minus adipisci aliquam beatae temporibus iure, omnis eum iste consequatur animi? Consequatur animi modi velit eveniet doloribus ipsum suscipit.</p>

{% endblock %}